# Backend Environment Variables
MONGO_URI=mongodb://127.0.0.1:27017/featureflags
JWT_SECRET=your_jwt_secret_here
PORT=5001

# Resend Email (for Forgot Password)
RESEND_API_KEY=re_HKHVrUL1_6yJXqm42yWij1gJY33c4E5Y6
FRONTEND_URL=http://localhost:3000
